$var title = 'Source code'
<h1>Source code</h1>

<p>All of the code for this application is open source and available at
<a href="http://github.com/flaviovdf/yourank">GitHub</a>. Fell free to
download and extend it to your own use. Also, please inform us if you
find any bugs or believe that the application is in any way saving more
information than you feel comfortable sharing with us.</p>

<p>The code should run on a stand alone Python 2.6 or superior 
installation with the <a href="http://webpy.org">Web.py</a> module
installed</p>
