$var title = 'Disclaimer'
<h1>Disclaimer</h1>
<p>YouRank is a social experiment being conducted by the Computer 
Science Department at Universidade Federal de Minas Gerais and the 
Online Social Networks Group at the Max Planck Institute for Software 
Systems. For more information contact: flaviov _at_ dcc.ufmg.br.</p>

<p>This project is not affiliated with 
<a href="http://www.google.com">Google</a>,
<a href="http://www.youtube.com">YouTube</a> or any of their personnel. All 
data collected will be used for research purposes only!</p>
