$def with (unique_id, form)
$var title = 'Help'
<h1>Take some time to understand/remember the instructions before stating or 
    continuing evaluations.</h1>

<p>The experiment you shall take part in consists of two steps. In the first one
you shall answer a form with details about yourself and YouTube viewing/sharing
habits. This should take only a couple of minutes to answer.</p>

<p>In the second step, we ask that each user evaluates a two pairs of
YouTube videos. For each pair, we would like to know: </p>

<ol>
    <li>Which video did you enjoy watching more?</li>
    <li>Which video you would be most willing  to share with a friend or
    group of friends, that is, which of the two videos
    you most probably would send the link to a friend?</li>
    <li>Which video do you predict will be more popular on YouTube?</li>
</ol>

<p>Although the three questions are similar, each one captures a different
perception of popularity. The first one is related to your individual taste,
we want to know which video did you enjoy watching the most.
The second one wants to know which would you share with friends, for example,
you may like a video but find another more interesting to share with your
friends, for instance, it may be funnier. The last question is focused on
your perception of YouTube as a system, that is, we want to know which video you
think will be more popular regardless of your tastes or sharing habits.</p>

<p>You can also provide additional feedback regarding the pair of videos you
evaluated. Here, we would like to know why did you choose the answers that you 
have provided. This is an optional step, since you may not have anything to say,
but if you do please provide us with as much information you belive to have 
influenced your choices.</p>

<p><b>We request that you refrain from visiting the video page on 
YouTube. This may lead to bias in our research</b></p>

<p>You have been provided with the unique identifier $unique_id which
we request of you write it down in case you need to pause the evaluation
and continue later. In the the 
<a href='/continue'>Continue Evaluation</a> link you can use your
unique id to pick up where you left off.</p>

<form method="POST">
    $:form.render()
</form>
