$def with (unique_id, num_pairs, form)
$var title = 'Help'
<h1>Take some time to understand/remember the instructions before stating or continuing evaluations.</h1>

<p> We ask that each user evaluates $num_pairs pairs of YouTube videos.
For each pair, we would like to know: </p>

<ol>
    <li>Which video did you enjoy watching the most?</li>
    <li>Which video you would be most willing  to share with a friend or 
    group of friends, that is, which of the two videos 
    you most probably would send the link to a friend?</li>
    <li>Which video do you think will become more popular over time
    on YouTube?</li>
</ol>

<p>Although the three questions are similar, each one captures a different
perception of the video pair. The first one is related to your individual taste,
we want to know which video did you most enjoy watching.
The second one wants to know which would you share with friends, for example,
you may prefer a video but find another more interesting to share with your
friends due to it being funnier. The last question is interested in
your perception of YouTube as a whole, that is, we want to know what you think
will be more popular regardless of your tastes or sharing habits.</p>

<p>We also ask you to provide additional feedback on each pair of 
videos. Here we would like to know why did you choose the answers that you have
provided. You can also state that you the evaluation of that pair confusing.</p>

<p><b>We request that you refrain from visiting the video page on 
YouTube. This may lead to bias in our research</b></p>

<p>You have been provided with the unique identifier $unique_id which
we request of you write it down in case you need to pause the evaluation
and continue later. In the the 
<a href='/continue'>Continue Evaluation</a> link you can use your
unique id to pick up where you left off.</p>

<form method="POST">
    $:form.render()
</form>
