$var title = 'Welcome to YouRank'
<h1>Welcome to YouRank</h1>
<p> Welcome to YouRank! We are glad that you chose to take part in
our experiment. From here you can either continue an evaluation or
start a new one. Also, we provide some details about what will be 
required from you as an user.</p>

<h2>About the Experiment</h2>
<p> We ask that each user evaluates 20 pairs of YouTube videos.
For each pair, we want to know which video you would be most willing 
to share with a friend or group of friends, that is, which of the two videos 
you most probably would send the link to a friend?</p>

<p><b>We request that you refrain from visiting the video page on 
YouTube. This may lead to bias in our research</b></p>

<p>We also ask you to provide additional feedback on each pair of 
videos if you think wish to provide any. This is an optional step but
you can use it to provide feedback about the pair
or state that you found the evaluation of that pair confusing.</p>

<h2>Starting/Continuing Evaluations</h2>
<p>Please use the <a href='/new'>New Evaluation</a> to start your 
evaluation. You will be provided with a unique identifier which
we request of you write it down in case you need to pause the evaluation
and continue later. In the the 
<a href='/continue'>Continue Evaluation</a> link you can use your
unique id to pick up where you left off.</p>
