$var title = 'Welcome to YouRank'
<h1>Welcome to YouRank</h1>
<p> Welcome to YouRank! We are glad that you chose to take part in
our experiment. From here you can either continue an evaluation or
start a new one. Also, we provide some details about what will be 
required from you as an user.</p>

<h2>About the Experiment</h2>
<p> We ask that each user evaluates 20 pairs of YouTube videos.
For each pair, we want to know which video of the pair you would
share (in the send the link sense) with a friend or a group of 
friends. Think of the action of sharing content in Online Social
Networks such as Facebook, Google+ or even email. </p>

</p>We also ask of you to provide additional feedback on each video 
pair if you think wish to provide any. This is an optional step but
you can use it to tell us that you don't really care about any of
the two videos in the pair. You can also use it to provide feedback
or state that you found the evaluation of that pair confusing.</p>

<h2>Starting/Continuing Experiments</h2>
<p>Please use the <a href='/new'>New Experiment</a> to start your 
evaluation. You will be provided with a unique identifier which
we that you write down in case you need to pause the evaluation
and continue later. In the the 
<a href='/continue'>Continue Experiment</a> link you can use your
unique id to pick up where you left off.</p>
