$def with(session_id, pair_num, total, first_video_id, second_video_id, form, error=False)
$var title: Evaluating a Video Pair. Your unique id is $session_id (please write it down)
<h1>Video Pair $pair_num of $total: Please watch both videos and then answer 
    the form below</h1>
$if error:
    <p>
    <span style="color:red">For each question, please check one of the videos in the form 
        below and provide some words explaining your choices!
    </span>
    </p>
<table width="85%", align="center">
<tr>
    <td align="center" valign="top" width="50%">
        <b>Video 1</b></br>
        <iframe width="420" height="315" 
                src="http://www.youtube-nocookie.com/embed/$first_video_id?rel=0" 
                frameborder="0" allowfullscreen>
        </iframe>
    </td>
    <td align="center" valign="top" width="50%">
        <b>Video 2</b></br>
        <iframe width="420" height="315" 
                src="http://www.youtube-nocookie.com/embed/$second_video_id?rel=0" 
                frameborder="0" allowfullscreen>
        </iframe>
    </td>
</tr>
</table>
<h1>
    Provide answers to the form. If you are confused, re-read the instructions.
    <a href="/helppage?id=$session_id">Go to instructions</a>
</h1>
$if error:
    <p>
    <span style="color:red">For each question, please check one of the videos in the form 
        below and provide some words explaining your choices!
    </span>
    </p>
<form method="POST">
    $:form.render()
</form>
