$def with(session_id, pair_num, total, first_video_id, second_video_id, form, error=False)
$var title: Evaluating a Video Pair
<h1>Video Pair $pair_num of $total: Please watch both videos and then answer the question bellow</h1>
$if error:
    <p><font color="red">Please check one of the videos in the form!</font></p>
<table width="85%", align="center">
<tr>
    <td align="center" valign="top" width="50%">
        <b>Video 1</b></br>
        <iframe width="420" height="315" 
                src="http://www.youtube-nocookie.com/embed/$first_video_id?rel=0" 
                frameborder="0" allowfullscreen>
        </iframe>
    </td>
    <td align="center" valign="top" width="50%">
        <b>Video 2</b></br>
        <iframe width="420" height="315" 
                src="http://www.youtube-nocookie.com/embed/$second_video_id?rel=0" 
                frameborder="0" allowfullscreen>
        </iframe>
    </td>
</tr>
</table>
<h1>Please answer the form bellow</h1>
$if error:
    <p><font color="red">Please check one of the videos in the form!</font></p>
<form method="POST">
    $:form.render()
</form>
